# Created by .ignore support plugin (hsz.mobi)
.gradle/
/.idea/
.gitignore
src/main/resources/
src/test/resources/
/src/test/java/testMe.java
/src/test/java/testMeAndrd.java
out/
src/test/java/testMeAndrd.java
/src/test/java/testMeiOS.java
/src/test/java/testMeAndroid.java
/src/test/java/AppiumTestSample.java
